{#- 01 Classic Stack: one centred column, every section in a fixed order. The default. -#}
{% include "partials/team/hero.html" %}
{% include "partials/team/season_switcher.html" %}
{% include "partials/team/live_skills.html" %}
{% include "partials/team/scoreboard.html" %}
{% include "partials/team/awards.html" %}
{% include "partials/team/results.html" %}
{% include "partials/team/matches.html" %}
{% include "partials/team/roster.html" %}
{% include "partials/team/robot.html" %}
{% include "partials/team/specs.html" %}
{% include "partials/team/notebook.html" %}
{% include "partials/team/goals.html" %}
{% include "partials/team/journey.html" %}
{% include "partials/team/join_cta.html" %}
